* {
    font-family: 'Barlow Semi Condensed', sans-serif;


}

body {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 992px) {
    div.mob {
        display: none;


    }

    div.mobnav {
        width: 100%;
        height: 50px;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        box-shadow: 0 -2px 5px -2px #333;

    }

    a.br-name {
        position: relative;
        left: 3.5rem;
    }


}

@media only screen and (min-width: 992px) {
    div.mobnav {
        display: none;
    }

}



.navbar {
    height: 80px;

}


.brand {
    font-family: 'Yantramanav', sans-serif;
}

.banner {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;



}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 35px;

}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.img-card {
    position: relative;
    left: 0.3rem;
}

.zoom {
    
    transition: transform .2s;
    box-shadow: 0 -2px 5px -2px #333;
    border-radius: 10px;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}